<% @stations.each do |station| %>
  <ul class='station'>
    <li class='name'>Name: <%= station.station_name %></li>
    <li class='type'>Fuel Type: <%= station.type %></li>
    <li class='distance'>Distance: <%= station.distance %></li>
    <li class='address'>Address: <%= station.street_address %></li>
    <li class='access-times'>Access Times: <%= station.access_times %></li>
  </ul>
<% end %>
